extends layout

block content
  h1= recipe.label
  p= recipe.type
  hr
  h2 Ingredients
  ul
    - each ingredient in ingredients
      li
        span= ingredient.quantity
        span= ingredient.label
  hr
  p= recipe.description
