extends layout

block content
  h1= recipe.label
  p= recipe.type

  hr

  ul
    - each ingredient in ingredients
      li
        span= ingredient.quantity
        span
          a(href='/ingredients/'+ingredient.label) #{ingredient.label}

  hr

  p= recipe.description
