extends ../layout

block content
  include ../menu

  h1= recipe.label
  p= recipe.type

  hr

  ul
    - each ingredient in ingredients
      li
        span= ingredient.quantity
        span= ' '
        span
          a(href='/ingredients/'+ingredient.label) #{ingredient.label}

  hr

  p= recipe.description

  a(href='/recipes/'+recipe.label+'/delete')
    button(class='delete') delete
